[JPEGThumbnailer]
Disabled=true

[RawThumbnailer]
Disabled=true

[PixbufThumbnailer]
Disabled=true

[CoverThumbnailer]
Disabled=true

[FfmpegThumbnailer]
Disabled=true

[GstThumbnailer]
Disabled=true

[FontThumbnailer]
Disabled=true

[PopplerThumbnailer]
Disabled=true

[OdfThumbnailer]
Disabled=true

[EpubThumbnailer]
Disabled=true

[DesktopThumbnailer]
Disabled=true

