[Desktop Entry]
Type=Application
Name=Fail2Ban
Comment=Show Fail2Ban status inside a terminal
Exec=xfce4-terminal --disable-server --class=Fail2Ban --title="Fail2Ban" --hold -e "zsh -c 'echo -e \"\033[38;2;0;171;255m[+] Checking Fail2Ban status.\033[0m\"; sudo /usr/bin/fail2ban-client status; exec zsh'"
StartupWMClass=Fail2Ban
Icon=ph4ntxm-fail2ban
Terminal=false
Categories=X-SecurityPH4NTXM;
