[Desktop Entry]
Type=Application
Name=OnionShare
Comment=Open OnionShare
Exec=onionshare
StartupWMClass=onionshare
Icon=org.onionshare
Terminal=false
Categories=X-AnonymityPH4NTXM;
Path=
StartupNotify=false
