[Desktop Entry]
Type=Application
Name=PH4NTXM OpSec Kernel
Comment=Inspect kernel security settings, modules and findings
Exec=/usr/local/bin/ph4ntxm-opsec-kernel-gtk
StartupWMClass=PH4NTXM-OpSec-Kernel
Icon=ph4ntxm-opsec-kernel
Terminal=false
Categories=System;Security;X-PH4NTXMOpSecSuite;
StartupNotify=false
