[Desktop Entry]
Type=Application
Name=PH4NTXM OpSec Process
Comment=Inspect process security and review available remediation
Exec=/usr/local/bin/ph4ntxm-opsec-proc-gtk
StartupWMClass=PH4NTXM-OpSec-Process
Icon=ph4ntxm-opsec-proc
Terminal=false
Categories=System;Security;X-PH4NTXMOpSecSuite;
StartupNotify=true
