[Desktop Entry]
Type=Application
Name=PH4NTXM OpSec Network
Comment=Inspect network exposure, routes, DNS and active connections
Exec=/usr/local/bin/ph4ntxm-opsec-net-gtk
StartupWMClass=PH4NTXM-OpSec-Network
Icon=ph4ntxm-opsec-net
Terminal=false
Categories=System;Security;X-PH4NTXMOpSecSuite;
StartupNotify=false
