[Desktop Entry]
Type=Application
Name=PH4NTXM OpSec Shredder
Comment=Mark files and folders for best-effort overwrite and deletion
Exec=/usr/local/bin/ph4ntxm-opsec-shredder-gtk
StartupWMClass=PH4NTXM-OpSec-Shredder
Icon=ph4ntxm-opsec-shredder
Terminal=false
Categories=System;Security;X-PH4NTXMOpSecSuite;
