source /boot/grub/config.cfg

menuentry "PH4NTXM (Linux Mode)" {
    linux @KERNEL_LIVE@ @APPEND_LIVE@ ph4ntxm.mode=linux
    initrd @INITRD_LIVE@
}

menuentry "PH4NTXM (Windows Mode)" {
    linux @KERNEL_LIVE@ @APPEND_LIVE@ ph4ntxm.mode=windows
    initrd @INITRD_LIVE@
}

menuentry "PH4NTXM Lone Wolf (Tor Isolated Mode)" {
    linux @KERNEL_LIVE@ @APPEND_LIVE@ ph4ntxm.mode=lonewolf
    initrd @INITRD_LIVE@
}

if @ENABLE_INSTALL_MENU@; then

source /boot/grub/install_start.cfg

if [ ! -e /boot/grub/install.cfg ]; then
menuentry "Start installer with speech synthesis" {
        linux @KERNEL_GI@ speakup.synth=soft @APPEND_GI@
        initrd @INITRD_GI@
}
fi

submenu 'Advanced install options...' --hotkey=a {

        source /boot/grub/theme.cfg
        source /boot/grub/install.cfg

}
fi

submenu 'Utilities...' --hotkey=u {

        source /boot/grub/theme.cfg

        if @ENABLE_MEMTEST@; then
                source /boot/grub/memtest.cfg
        fi

        if [ "${grub_platform}" = "efi" ]; then
                menuentry "UEFI Firmware Settings" --hotkey=f {
                        fwsetup
                }
        fi
}