[Unit]
Description=PH4NTXM Shutdown Data Containment
DefaultDependencies=no
Before=shutdown.target reboot.target halt.target poweroff.target

[Service]
Type=oneshot
ExecStart=/usr/bin/timeout -k 1 30 /usr/local/sbin/ph4ntxm-nuke.sh
TimeoutStartSec=35s
TimeoutStopSec=1s
OOMScoreAdjust=-1000

[Install]
WantedBy=shutdown.target
WantedBy=reboot.target
WantedBy=halt.target
WantedBy=poweroff.target
