[Desktop Entry]
Type=Application
Name=Picom
Comment=Apply desktop compositing effects
Exec=/usr/local/bin/ph4ntxm-picom
OnlyShowIn=XFCE;
X-GNOME-Autostart-enabled=true
