[Desktop Entry]
Type=Application
Name=Picom
Comment=PH4NTXM compositor
Exec=/usr/local/bin/ph4ntxm-picom
OnlyShowIn=XFCE;
X-GNOME-Autostart-enabled=true
