[Desktop Entry]
Type=Application
Name=PH4NTXM Lockdown Tray
Comment=Show network lockdown controls in the system tray
Exec=/usr/local/bin/ph4ntxm-lockdown-tray
Icon=ph4ntxm-lockdown
Terminal=false
X-GNOME-Autostart-enabled=true
