[Desktop Entry]
Type=Application
Name=PH4NTXM Panic Button Tray
Exec=/usr/local/bin/ph4ntxm-panic-button-tray
Icon=ph4ntxm-panic-button
Comment=Show emergency shutdown controls in the system tray
X-GNOME-Autostart-enabled=true
